<!-- formulario -->
<div class="bg-[#222222] text-white p-8 rounded-lg shadow-md max-w-xl w-full mx-auto my-10">
  <div class="mb-6 text-center">
    <p class="text-xl font-semibold text-[#C9B243]">¿Quieres saber más?</p>
    <p class="text-2xl font-bold text-white">¡Contáctanos!</p>
  </div>

  <form>
    <div class="mb-4">
      <label class="block text-[#C9B243] font-medium mb-1">Nombre:</label>
      <input [(ngModel)]="nombre" type="text" name="nombre"
        class="w-full p-2 rounded bg-[#1e1e1e] border border-[#C9B243] text-white" 
        required (blur)="nombreTocado = true">
      @if(nombre && nombre.trim().length > 0 && nombre.trim().length < 5) {
        <div class="text-[#C9B243] text-sm mt-1">El nombre debe tener al menos 5 caracteres.</div>
      }
      @if(nombreTocado && (!nombre || nombre.trim().length === 0)) {
        <div class="text-[#C9B243] text-sm mt-1">El nombre es obligatorio.</div>
      }
    </div>

    <div class="mb-4">
      <label class="block text-[#C9B243] font-medium mb-1">Email:</label>
      <input [(ngModel)]="email" type="text" name="email"
        class="w-full p-2 rounded bg-[#1e1e1e] border border-[#C9B243] text-white" 
        required minlength="4" (blur)="emailTocado = true">
      @if(email && !email.includes('@')) {
        <div class="text-[#C9B243] text-sm mt-1">El email debe contener un "&#64;", Debe ser un email válido.</div>
      }
      @if(emailTocado && (!email || email.trim().length === 0)) {
        <div class="text-[#C9B243] text-sm mt-1">El email es obligatorio.</div>
      }
      @if(email && email.trim().length > 0 && email.trim().length < 4) {
        <div class="text-[#C9B243] text-sm mt-1">El email debe tener al menos 4 caracteres.</div>
      }
    </div>

    <div class="mb-4">
      <label class="block text-[#C9B243] font-medium mb-1">Asunto:</label>
      <input [(ngModel)]="asunto" type="text" name="asunto"
        class="w-full p-2 rounded bg-[#1e1e1e] border border-[#C9B243] text-white" 
        required minlength="10" (blur)="asuntoTocado = true">
      @if(asunto && asunto.trim().length > 0 && asunto.trim().length < 10) {
        <div class="text-[#C9B243] text-sm mt-1">El asunto debe tener al menos 10 caracteres.</div>
      }
      @if(asuntoTocado && (!asunto || asunto.trim().length === 0)) {
        <div class="text-[#C9B243] text-sm mt-1">El asunto es obligatorio.</div>
      }
    </div>

    <div class="mb-4">
      <label class="block text-[#C9B243] font-medium mb-1">Mensaje:</label>
      <textarea [(ngModel)]="mensaje" name="mensaje" required minlength="20" (blur)="mensajeTocado = true"
        class="w-full p-2 rounded bg-[#1e1e1e] border border-[#C9B243] text-white h-32 resize-none"></textarea>
      @if(mensaje && mensaje.trim().length > 0 && mensaje.trim().length < 20) {
        <div class="text-[#C9B243] text-sm mt-1">El mensaje debe tener al menos 20 caracteres.</div>
      }
      @if(mensajeTocado && (!mensaje || mensaje.trim().length === 0)) {
        <div class="text-[#C9B243] text-sm mt-1">El mensaje es obligatorio.</div>
      }
    </div>
    <button mat-flat-button color="accent"(click)="enviar()"class="boton-enviar">Enviar</button>
  </form>
</div>