<footer>
    <div class="par1">
        <div class="imagen">
            <img src="log2.png" alt=""> <!-- Logo -->
        </div>
    </div>
    <div class="par2">
        <div class="par2-1">
            <h3>Sobre nosotros</h3>
            <ul>
                <li><a href="">Historia</a></li>
                <li><a href="">Misión y Visión</a></li>
                <li><a href="">Valores</a></li>
        <li><a routerLink="/equipo" >Equipo</a></li>            </ul>
        </div>
        <div class="pas2-1">
            <h3>Servicios</h3>
            <ul>
                <li><a href="">Entrenamiento Personal</a></li>
                <li><a href="">Nutrición</a></li>
                <li><a href="">Clases Grupales</a></li>
                <li><a href="">Asesoría Online</a></li>
            </ul>
        </div>
    </div>
     <div class="redes">
    <ul>
      <li>
        <a href="#">
          <div class="badge-container" matBadge="32" matBadgePosition="above after" matBadgeColor="accent">
            <i class='bx bxl-facebook-circle'></i>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bxl-tiktok'></i>
        </a>
      </li>
      <li>
        <a href="#">
            <div class="badge-container" matBadge="45" matBadgePosition="above after" matBadgeColor="accent">
            <i class='bx bxl-instagram-alt'></i>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="badge-container" matBadge="24" matBadgePosition="above after" matBadgeColor="accent">
            <i class='bx bxl-youtube'></i>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bxl-twitter'></i>
        </a>
      </li>
    </ul>
  </div>
</footer>